In [1]:
my_list = [10, "twenty,", 30, "fourty", 50]

In [8]:
print(my_list[1])

twenty,

In [9]:
l_2d_list = [
    [1,2,3,4,5],
    [6,7,8,9,10]
]

In [10]:
l_2d_list[0][4]

5

In [11]:
my_list.append(60)

In [12]:
print (my_list)

[10, 'twenty,', 30, 'fourty', 50, 60]

In [13]:
my_tuple = (1,2,3,4)

In [14]:
print([1])

[1]

In [15]:
student = {
    "name": "Andy",
    "age": 17,
    "subjects": [
        "Math",
        "English",
        "Computing"
    ]

}

In [21]:
print(student["name"])
print(student["subjects"][0])

Andy
Math